#define RFID_CARD_PASSWORD "52170177167" //example RFID Card Read
#define NEWRELIC_API_KEY "" //New Relic API Key https://docs.newrelic.com/docs/apis/intro-apis/new-relic-api-keys/
#define WIFI_SSID "wifi_ssid"
#define WIFI_PASSWORD "wifi_password"
